.bannerTitle {
    font-size: 60px;
    text-transform: uppercase;
    color: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 600;
    letter-spacing: 0.5rem;
}
.bannerImage {
    min-height: 192px;
}

@media screen and (max-width: 1200px) {
    .bannerTitle {
        font-size: 55px;
    }
}
@media screen and (max-width: 992px) {
    .bannerTitle {
        font-size: 45px;
    }
}
@media screen and (max-width: 768px) {
    .bannerTitle {
        font-size: 30px;
    }
}
@media screen and (max-width: 576px) {
    .bannerTitle {
        font-size: 16px;
    }
}